body {
  margin: 0px;
  padding: 0px;
  background-image:url("../img/EU_6.jpg");
  background-size: cover;
}
ul#nav-box {
  margin:0 0 0 0;
  padding: 12px 1em 20px 0;
  list-style-type: none;
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left ;
  color:#818786;
}
.container{
  width: 100%;
  height: 702px;
}
.interieur{
  width: 838px;
  height:410px;
  position:absolute;
  margin-top: 100px;
  margin-left: 20%;

}
.bienvenue{
width: 325px;
height: 44px;
margin-bottom: 3px;
color: #FFFFFF;
margin-right: 0px;
}
.presentation{
  margin-top: 20px;
  width: 325px;
  color: #FFFFFF;
}
.connexion{
  width: 303px;
  height:120px;
  background-color: #FFFFFF;
  border-radius: 3px;

}
#button
{
  width: 106px;
  height: 30px;
  background-color: #4B99D3;
  color:white;
  border-color: #4B99D3;
  border-radius: 4px;
}
